*~
*.mo
*.stamp
.deps
.libs
*.la
*.lo
*.o
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config.h
/config.h.in
/configure
/compile
/depcomp
/stamp-h1
/install-sh
/missing
/gnome-doc-utils.make
/getting-started/??/*.page
/getting-started/??/legal.xml
/getting-started/??/animation.xml
/player/player
