*~
*.mo
*.stamp
.deps
.libs
*.la
*.lo
*.o
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config.h
/config.h.in
/configure
/compile
/depcomp
/stamp-h1
/install-sh
/missing
/gnome-doc-utils.make
/gnome-help/??/*.page
/gnome-help/??/*.svg
/gnome-help/??/legal.xml
/gnome-help/??/animation.xml
/player/player
